---
import { getSession } from 'auth-astro/server';

import { PushTokenService } from '@/services/pushTokenService';

import TopUser from '../user/TopUser.vue';

const session = await getSession(Astro.request);
let pushToken = null;

if (session?.user?.email) {
  const pushTokenService = new PushTokenService(Astro.locals.runtime.env.DB);

  pushToken = await pushTokenService.getPushToken(session.user.email);
  if (!pushToken) {
    pushToken = await pushTokenService.resetPushToken(session.user.email);
  }
}

const allowedEmails = import.meta.env.ALLOWED_EMAILS?.split(',').map((email: string) => email.trim()) || [];
const isAllowedUser = session?.user?.email && allowedEmails.includes(session.user.email);
---

<header class="bg-background border rounded-lg shadow-sm mt-4 mb-4">
  <div class="container mx-auto px-6 py-3 flex items-center justify-between">
    <div class="text font-semibold text-primary cursor-pointer" id="logo">AlphaPush</div>
    {
      isAllowedUser ? (
        <TopUser
          client:load
          userInfo={{
            email: session.user?.email ?? '',
            nickname: session.user?.name ?? '',
            pushToken: pushToken ?? undefined,
          }}
        />
      ) : null
    }
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const logo = document.getElementById('logo');
    if (logo) {
      logo.addEventListener('click', () => {
        const currentPath = window.location.pathname;
        if (currentPath !== '/' && currentPath !== '/403') {
          window.location.href = '/';
        }
      });
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const topUser = document.querySelector('top-user');
    if (topUser) {
      const pushToken = topUser.getAttribute('data-push-token');
      if (pushToken) {
        localStorage.setItem('pushToken', pushToken);
      }
    }
  });
</script>